<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YourApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dangdang_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputerVision"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".AppNavigator"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComputerVision"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.ComputerVision"/>
<!--        <activity-->
<!--            android:name=".SalesActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".DecorateActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".InsertActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".DetailActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".MessageListActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".MyUploadedActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".AiImgGenActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->
<!--        <activity-->
<!--            android:name=".LikeActivity"-->
<!--            android:theme="@style/Theme.ComputerVision"/>-->

        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>